Source: zram-generator
Section: admin
Priority: optional
Maintainer: Wong Hoi Sing Edison <hswong3i@gmail.com>
Standards-Version: 4.5.0
Rules-Requires-Root: no
Vcs-Git: https://github.com/alvistack/systemd-zram-generator
Vcs-Browser: https://github.com/alvistack/systemd-zram-generator
Homepage: https://github.com/systemd/zram-generator
Build-Depends: debhelper,
               debhelper-compat (= 12),
               cargo,
               pkg-config,
               systemd,

Package: zram-generator
Architecture: linux-any
Recommends: systemd
Depends: ${misc:Depends},
         ${shlibs:Depends},
Tag: implemented-in::rust, role::program
Replaces: systemd-zram-generator, systemd-zram
Breaks: systemd-zram-generator, systemd-zram
Description: Systemd unit generator for zram swap devices
 This is a systemd unit generator that enables swap on zram.
 (With zram, there is no physical swap device. Part of the avaialable RAM
 is used to store compressed pages, essentially trading CPU cycles for memory.)
 To activate, install zram-generator-defaults subpackage.

Package: zram-generator-defaults
Architecture: linux-any
Depends: zram-generator
Description: Default configuration for zram-generator
