# SPDX-License-Identifier: MIT
name: ci

on:
  push:
  pull_request:
  schedule:
    - cron: "0 4 * * *"

permissions:
  contents: read

env:
  CARGO_TERM_COLOR: always

jobs:
  test:
    name: Build and run tests (rust ${{ matrix.rust }})
    runs-on: ubuntu-latest
    strategy:
      matrix:
        rust:
          - stable
          - beta
          - nightly
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
      - name: Install linux-modules-extra-$(uname -r)
        run: |
          sudo apt update
          sudo apt install -y linux-modules-extra-$(uname -r)
      - name: Insert zram module
        run: sudo modprobe -v zram
      - name: Install Rust
        run: |
          rm -f ~/.cargo/bin/{*fmt,rust-analyzer}
          curl https://sh.rustup.rs -sSf | sh -s -- -y
      - name: Install toolchain
        run: | 
          rustup toolchain install ${{ matrix.rust }}
          rustup default ${{ matrix.rust }}
      - name: Build
        run: make program CARGOFLAGS="--verbose"
      - name: Run tests
        run: make check CARGOFLAGS="--verbose"

  rustfmt:
    name: rustfmt
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
      - name: Install Rust
        run: |
          rm -f ~/.cargo/bin/{*fmt,rust-analyzer}
          curl https://sh.rustup.rs -sSf | sh -s -- -y
      - name: Install toolchain
        run: |
          rustup toolchain install stable
          rustup default stable
      - name: Check formatting
        run: cargo fmt -- --check

  clippy:
    name: clippy
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
      - name: Install Rust
        run: |
          rm -f ~/.cargo/bin/{*fmt,rust-analyzer}
          curl https://sh.rustup.rs -sSf | sh -s -- -y
      - name: Install toolchain
        run: | 
          rustup toolchain install nightly
          rustup default nightly
      - name: Validate clippy
        run: make clippy CARGOFLAGS="-- -D warnings"
